<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
  <title>UCM_RIU</title>
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg bg-custom-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img id="logo" class="navbar-logo" src="/icono" alt="UCM logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="http://localhost:3000/index">Inicio</a>
          </li>
          

        </ul>

      </div>
      <div class="d-flex justify-content-end align-items-center w-100 text-white">
        <div id="usuario">
          <%=usuario.nombre %>
          
        </div>
        <img class="foto-perfil rounded-circle me-4 ms-4 " src="/foto/<%=usuario.id %>">
        <% if(usuario.rol){ %>
          <button id="btn-mail" class="btn ms-2" data-bs-toggle="modal" data-bs-target="#mail">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
          </button>
        <% } %>
    
        <% if(usuario.rol){ %>
          <button id="btn-users" class="btn ms-2" data-bs-toggle="modal" data-bs-target="#users">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
          </button>
        <% } %>
       
      

        <div class="dropdown-config">
            <button id="btn-config" class="btn me-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </button>
            <div class="dropdown-content">
                <a href="/index" class="menu-item">Inicio</a>
                <% if(usuario.rol){ %>
                    <a href="/configuracion" class="menu-item">Configuración del sistema</a>
                  <% } %>
                  <a href="/correo" class="menu-item">Correo</a>
              <a href="#" data-bs-toggle="modal" data-bs-target="#closeSession" class="menu-item">Cerrar sesión</a>
              
            </div>
          </div>
      </div>
    </div>
  </nav>
 <!-- una pequeña vista adicional que muestra en una lista los datos basicos de nuestro perfil-->
  <div id="contenido" class="d-flex justify-content-center pt-5 gap-3 h-90 mt-5 mb-5" style="background-color: #eee; min-height: calc(100vh - 50px)">
    <div class="card w-50 p-4">
      <div class="d-flex justify-content-between align-items-start">
        <h2 class="mb-4">Perfil de Usuario</h2>
        <img src="/foto/<%=usuario.id %>" alt="Imagen del Usuario" class="rounded-circle" style="width: 50px; height: 50px;">
      </div>
       
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Nombre y apellidos:</strong> <%=usuario.nombre %></li>
            <li class="list-group-item"><strong>Email:</strong> <%=usuario.email %></li>
            <li class="list-group-item"><strong>Facultad:</strong> <%=usuario.facultad %></li>
            <li class="list-group-item"><strong>Curso:</strong> <%=usuario.curso %></li>
            <li class="list-group-item"><strong>Grupo:</strong> <%=usuario.grupo %></li>
          
        </ul>
        <div class="text-center mt-4">
          <img src="/icono" alt="logo" class="img-fluid">
      </div>
 
    </div>
</div>
 




     

   
    <%- include('footer') %>
    <%- include('modals') %>
</body>


<script>
    
    document.getElementById('btn-config').addEventListener('click', function() {
      let dropdownContent = document.querySelector('.dropdown-content');
      dropdownContent.style.display = dropdownContent.style.display === 'none' ? 'block' : 'none';
    });



</script>
</html>
